/node_modules
/.next
/out
/build
.env
.env*.local
.env.production
.DS_Store
*.pem
npm-debug.log*
.vercel
next-env.d.ts

.vercel

scripts/phddc01/nome-pastas.token
scripts/phddc01/nome-pastas.ultimo.txt
scripts/phddc01/nome-pastas.log
